.example-container {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border: 0px solid rgba(0, 0, 0, 0.5);
  }

  /* .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  } */
  
/* 
  .drawer-handle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    background-color: #e60a0a;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .drawer-handle mat-icon {
    font-size: 24px;
  }
   */