/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%;
  width: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* set the height of the container to make it take up the full height of the parent */
}

.card {
  width: 300px; /* set the width of the card */
  height: 400px; /* set the height of the card */
}

.loader-container {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.spinner-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255 255 255 / 50%);
  z-index: 9999;
}

.spinner-center {
  top: 50%;
  left: 50%;
}