/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* set the height of the container to make it take up the full height of the parent */
}

.card {
  width: 300px; /* set the width of the card */
  height: 400px; /* set the height of the card */
}
